* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
  }

  /*FONT FAMILIES*/

  @font-face {
    font-family: alk;
    src: url(../Fonts/alk_life.otf);
  }

  @font-face {
    font-family: gotic;
    src: url(../Fonts/Century\ Gothic.ttf);
  }

/*CSS for INDEX.HTML*/

/*HEADER*/

  header {
    width: 100%;
    height: 180px;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    background-color:forestgreen;
  }
  
/*LOGO ANIMATION*/

@keyframes anima{
  from
  {width: 50px;
  height: 50px;}

  to
  {width: 200px;
  height: 150px;}
}

  .logo{width: 200px;
height: 150px;}

  .logo img{animation-name: anima;
    animation-timing-function: ease;
    animation-duration: 2s;
    width: 200px;
    height: 100%;
}

  .nav__section {display: flex;
                 align-items: center;
                 gap: 24px;
  }
  
  .nav__section a {
    font-family: alk;
    color:goldenrod;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    font-weight: 500;
  }

  a:hover{color:aqua;}
  
  .language_button {
    padding: 12px 24px;
    background-color:darkgoldenrod;
    color: #fff;
    border-radius: 32px;
    cursor: pointer;
    transition: .3s background-color ease;
  }
  
  .language_button:hover {
    background-color: #fff;
    color: #000;
  }
  
 
  .hamburger__section {
    display: none;
  }
  

  /*MAIN*/



.hotel-cover{animation-name: cover;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  height:450px;
  width: 100%;
  opacity: 0.5;
  background-image: url(../Asets/Images/Cover\ pic.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*COVER ANIMATION*/
@keyframes cover{
  from
  {background-image: url(../Asets/Images/Cover\ pic.jpg);}

  to
  {background-image: url(../Asets/Images/1.jpg);
    }
}

.res-box {width: 350px;
  height: 300px;
  display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color: rgba(184, 135, 11, 0.966);
gap: 10px;}

.res-box p {
  font-family: alk;
  font-weight:400;
  font-size: 16px;
  color:cornsilk;

}

.res-box a {padding: 5px 5px;
  font-family: alk;
  font-weight:400;
  font-size: 16px;
  color:cornsilk;
  border: 3px solid rgba(34, 139, 34, 0.342);
  border-radius: 8px;

}

.local-facilities{height: 300px;
   padding-top: 20px;
  display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: lightgray;

}


.FO{display: flex;
  flex-direction: column;
gap: 50px;}

  .rest{display: flex;
    flex-direction: column;
  gap: 50px;}

    .out{display: flex;
      flex-direction: column;
    gap: 50px;}

    .icon-text{display: flex;
      gap: 20px;
      align-items: center;
    }

    .icon-text p { font-family: alk;
    font-size: 20px;
  font-weight: 600;
color: goldenrod;}

    .icon-text i { font-size: 40px;
      color: goldenrod;

    }

/*FOOTER*/

footer{width: 100%;
  height: 180px;
  padding: 24px 32px;
  background-color:forestgreen;}

  .contact{ width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
  }

  .contact-text{ display: flex;
    gap: 30px;
  }
 .contact-text i {
  color:aliceblue;
  font-size: 20px;}

  .contact-text p{ font-family: gotic;
    color:goldenrod;
    font-size: 20px;
  font-weight: 600;}

  .contact-icon{display: flex;
  flex-direction: column;
gap: 15px;
}

.follow {padding-top: 20px;
  
}

.follow h2 {font-family: alk;
  color:goldenrod;
  font-size: 30px;
font-weight: 700;}

.follow i { color:aliceblue;
  font-size: 20px;
padding: 30px 10px;
}

/*CSS for ABOUT.HTML Main*/


.about{width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  gap: 30px;
}

.about-text{ 
  color:goldenrod;
  font-size: 16px;
text-align: center;
justify-content: space-between;}

.about-text p {font-family: alk;
  padding-top: 20px;

}


.about-text h1 {font-family: alk;
  padding-top: 20px;

}

  .about-img img{
    width: 700px;
    height: 700 px;
    border-radius: 16px;
  }



  .rooms-section {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
   gap: 60px;
  }
  
  
  .rooms-card {
    width: 279px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .rooms-category {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .rooms-category h3 {
    color: #000;
    font-family: alk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  
  .rooms-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: goldenrod;
  }

  .rooms-img{display: flex;
justify-content: center;
gap: 5px;

  }

  .rooms-img img {width: 100px;
  height: 100px;
  }

  /*CSS for ROOMS.HTML*/

  .category{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    gap: 30px;
    
  }
  
  .image-text{ 
    color:goldenrod;
    font-size: 16px;
  text-align: center;
}
  
  .image-text h2 {font-family: alk;
    padding-top: 20px;
  
  }
  
    .images{display: flex;
     justify-content: center;
      background-color: lightcoral;
      border-radius: 16px;
    }
  .images img{width: 350px;
  height: 300px;
padding: 10px 10px;
  border-radius: 16px;
}


/*CSS for RESTAURANT.HTML*/

.restaurant{width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  gap: 30px;
}

.restaurant-text{ 
  color:goldenrod;
  font-size: 16px;
text-align: center;
justify-content: space-between;}

.restaurant-text p {font-family: alk;
  padding-top: 20px;

}


.restaurant-text h1 {font-family: alk;
  padding-top: 20px;

}

.restaurant-img{ box-shadow: 0 5px 10px 5px goldenrod;
  border-radius: 16px;

}

  .restaurant-img img{
    width: 700px;
    height: 700 px;
    border-radius: 16px;
  }